@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

/* Comienza Nav-Section */

.nav-bar{
    width: 100%;
    height: 55px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: center;
    background-color:gray;
    overflow: hidden; 
    box-shadow: 0.5px 0.7px 0.7px 0.7px rgba(0, 0, 0, 0.2);
}

.logo-nav{
    margin-left: 0px;
    width: 160px;
    color: white;
    

}

.logo-nav p{
    font-weight: 600;
    font-size: larger;
    
}


.nav-bar .nav-list{
    width: 70%;
    text-align: center;
    
    
    
}

.nav-bar ul li{
    display: inline-block;
    padding-right: 25px;

} 

.nav-bar ul li a {
    text-decoration: none;
    color: white;
}


.nav-bar ul li a,
.nav-bar ul li a:after,
.nav-bar ul li a:before {
  transition: all .5s;
}

.nav-bar ul li a:hover {
    color: rgba(25, 133, 40, 0.959);
}

.nav-bar ul li a{
    position: relative;
}

.nav-bar ul li a:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: rgba(25, 133, 40, 0.959);
    height: 1px;
    margin-bottom: -7px;
    
}

.nav-bar ul li a:hover::after{
    width: 100%;
}

.nav-bar img{
    padding-right: 30px;
}

/* Termina Nav-Section */

/* Comienza Start-Section */

main{
    /* background-color: #000300; */
}

.Start{
    display: flex;
    gap: 310px;
    justify-content: center;
    align-items: center;
    padding: 20px;   
}



.info-start .info{
    padding-bottom: 20px;
}

.info-start .buttons button{
    height: 35px;
    margin-right: 8px;
    padding: 10px;
    border: 1px solid rgba(25, 133, 40, 0.959);
    border-radius: 10px;
    color: rgba(25, 133, 40, 0.959);
    transition: .4s all;
}

.info-start .buttons button:hover{
    box-shadow: 1px 1px 0px 0px rgba(182, 182, 182, 0.993);
}



/* Termina Start-Section */

/* Comienza Start-Section */

.About-me{
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(187, 182, 182);
    margin: 20px;
    padding: 20px;
    height: 100%;
}

.info-About .title-section{
    text-align: left;
    
}

.info-About .title-section p{
    font-size: 30px;
    font-weight: 700;
}

.info-About .title-section span{
    font-size: 50px;
    color: rgba(25, 133, 40, 0.959);
}

.separator-about-line{
    background-color: rgb(100, 226, 75);
    border: none;
    height: 5px;
    width: 650px;
}

.info-About .text-section{
    padding-top: 20px;
    height: 100%;
    color: black;
    width: 1fr;
}

.About-me .image-about-me{
    display: flex;
    align-items: right;
    justify-content: right;
}

/* Termina Start-Section */

.separator{
    height: 300px;
}

/* Comienza Tech-Section */

/* Comienza FrontSkills */

.Tech-section{
    max-width: 800px;
    min-width: 600px;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    padding: 10px;
    flex-direction: column;
}

.Tech-section .title{
    padding-bottom: 50px;
}

.Tech-section .title p{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.Front-section{
    padding-bottom: 50px;
}

.Tech-section .title-section{
    padding-bottom: 15px;
    color: rgb(100, 226, 75);
    font-size: 20px;
    text-decoration: dotted;
}

.Tech-section .Front-section .frontend-skills{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.skills-elem{
    padding: 10px;
    background-color: white;   
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgb(224, 224, 224);
}

.skills-elem:hover{
    transform: scale(1.05);
    transition: .2s all;
}

/* Termina FrontSkills */

/* Comienza BackSkills */

.Back-section{
    padding-bottom: 50px;
}

.Tech-section .Back-section .backend-skills{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
}

/* Termina BackSkills */

/* Comienza OtrasSkills*/

.Tech-section .Otras-section .otras-skills{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
}


/* Termina OtrasSkills*/

/* Termina Tech-Section */
