@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

/* Comienza Nav-Section */

body{
    background-color: #383838;
}

.nav-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #383838;
    
}

.navbar-items{
    display: flex;
    gap: 800px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px; /* Ajusta este valor según lo necesites */
    padding: 25px;
}

@media (max-width: 1536px) {
    .navbar-items{
        gap: 600px;
        
    }
}
@media (max-width: 1280px) {
    .navbar-items{
        gap: 500px;
        
    }
}

@media (max-width: 1024px) {
    .navbar-items{
        gap: 340px;
        
    }
}

@media (max-width: 768px) {
    .navbar-items{
        gap: 100px;
        
    }
}

.logo-nav{
    color: white;
}

.logo-nav p{
    font-weight: 600;
    font-size: larger;
}

.nav-list{
    display: flex;
    gap: 25px;
    text-decoration: none;
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    color: white;
    position: relative;
    transition: all .5s;
}

.nav-item a:hover {
    color: rgb(100, 226, 75);
}

.nav-item a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: rgb(100, 226, 75);
    height: 1px;
    margin-bottom: -7px;
    transition: all .5s;
}

.nav-item a:hover::after {
    width: 100%;
}

/* Termina Nav-Section */

/* Comienza Start-Section */

.Start{
    display: flex;
    gap: 310px;
    justify-content: center;
    align-items: center;
    margin: 50px;   
}

@media (max-width: 1024px) {
    .Start{
        gap: 160px;
    }
}

.info-start .name{
    color: aliceblue;
}

.info-start .info{
    color: aliceblue;
}

.info-start .flags{
    padding-bottom: 10px;
}

.info-start .buttons button{
    height: 35px;
    margin-right: 8px;
    padding: 10px;
    background-color: #383838;
    border: 1px solid rgb(100, 226, 75);
    border-radius: 10px;
    color: rgb(100, 226, 75);
    transition: .4s all;
}

.info-start .buttons button:hover{
    cursor: pointer;
    transform: scale(1.07);
    transition: .2s all;
}

/* Termina Start-Section */

.About-Section {
    display: flex;
    padding: 50px;
    background-color: #202020;
}

.card-About {
    display: flex;
    flex-direction: row; /* Por defecto, la imagen y el texto están uno al lado del otro */
    width: 100%;
    max-width: 1300px;
    min-width: 1100px;
    background-color: #383838;
    box-shadow: 1px 1px 1px 5px #242323;
    margin: 0 auto;
    padding: 30px;
}

.info-About .title-section {
    text-align: left;
}

.info-About .title-section p {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.info-About .title-section span {
    font-size: 60px;
    color: rgb(100, 226, 75);
}

.separator-about-line {
    background-color: rgb(100, 226, 75);
    border: none;
    height: 2px;
    width: 650px;
}

.info-About .text-section {
    padding-top: 20px;
    color: #fff;
}

.info-About .buttons-about {
    display: flex;
    gap: 10px;
    padding-top: 20px;
}

.info-About .buttons-about button {
    background-color: #383838;
    border: .1px solid rgb(100, 226, 75);
    border-radius: 20px;
    padding: 4px;
    cursor: pointer;
}

.card-About .image-about-me {
    display: flex;
    align-items: right;
    justify-content: right;
    margin-left: 110px;
}

@media (max-width: 1024px) {
    .card-About {
        flex-direction: column; /* Cambia la dirección del flex container en pantallas pequeñas */
    }

    .card-About .image-about-me {
        margin-left: 0;
        margin-bottom: 20px; /* Añade espacio entre la imagen y el texto */
    }
}

/* Termina About-Section */

.separator{
    height: 200px;
}

/* Comienza Tech-Section */

.Tech-section{
    max-width: 800px;
    min-width: 600px;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    padding: 10px;
    flex-direction: column;
}

.Tech-section .title{
    margin-bottom: 50px;
    padding: 10px;
    color: #fff;
}

.Tech-section .title p{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 10px;
}

.Tech-section .title .separator-tech-line{
    width: 12%; /* Ajusta este valor según tus necesidades */
    margin: 0 auto; /* Esto centra el hr */
    border: none; /* Elimina cualquier borde por defecto */
    border-top: 2px solid rgb(100, 226, 75); /* Añade un borde superior */
   
}

.Front-section{
    padding-bottom: 50px;
}

.Tech-section .title-section{
    padding-bottom: 15px;
    color: rgb(100, 226, 75);
    font-size: 20px;
    text-decoration: dotted;
}

.Tech-section .Front-section .frontend-skills{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.skills-elem{
    padding: 10px;
    background-color: white;   
    border-radius: 10px;

}

.skills-elem:hover{
    transform: scale(1.05);
    transition: .2s all;
}

/* Termina FrontSkills */

/* Comienza BackSkills */

.Back-section{
    padding-bottom: 50px;
}

.Tech-section .Back-section .backend-skills{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
}

/* Termina BackSkills */

/* Comienza OtrasSkills*/

.Tech-section .Otras-section .otras-skills{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
}

/* Termina OtrasSkills*/

/* Termina Tech-Section */

/* Comienza Proyects */

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100dvh;
}

.projects .header{
    margin-bottom: 60px;
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.projects .header p{
    padding-bottom: 10px;
}

.projects .header .separator-tech-line{
    width: 60%; /* Ajusta este valor según tus necesidades */
    margin: 0 auto; /* Esto centra el hr */
    border: none; /* Elimina cualquier borde por defecto */
    border-top: 2px solid rgb(100, 226, 75); /* Añade un borde superior */
   
}

.projects-cards{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.cards{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    border-radius: 7px;
    background-color: #202020;
    overflow: hidden;
}

.img_contianer img{
    width: 100%;
    height: 210px;
    border-radius: 7px;
}

.text_container{
    color: white;
    padding: 20px;
    gap: 10px;
}

.text_container .title{
    font-size: 30px;
    font-weight: 700;
}


/* Termina Proyects */